<div style="border:1px solid; float:left;height:100%;padding:10px 10px;">
  Search:<br><br>
  <input id="page-search" type="text"></input><br><br>
  <div id="search_results"></div>
  <a href="/admin">Dashboard</a><br><br>
  <a href="/admin">Settings</a><br><br>
  <a href="/admin">Layouts</a><br><br>
</div>

<script type="text/javascript">
 $(document).ready(function(){
   $('#page-search').keypress(function(e){
     if(e.which == 13){
       var search = $("#page-search").val();
       console.log("search enter", search);
       $.ajax({
         type: 'GET',
         url: '/new/search/' + search,
         success: function(data) {
           console.log(data);
           $("#search_results").html(data.html);
         }
       });
     }
   });
 });
</script>
