{% extends "admin/cms/page/revision_form.html" %}
{% load i18n %}
{% load url from future %}

{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{media}}
{% endblock %}


{% block breadcrumbs %}
	<div class="breadcrumbs">
		<ul class="breadcrumb">
	        <li>
		        <i class="ace-icon fa fa-home home-icon"></i>
	            <a href="../../../../">{% trans 'Home' %}</a>
	        </li>
			<li><a href="../../../">{{app_label|capfirst|escape}}</a> </li>
			<li><a href="../../">{{opts.verbose_name_plural|capfirst}}</a></li>
			<li><a href="../">{% blocktrans with opts.verbose_name as verbose_name %}Recover deleted {{verbose_name}}{% endblocktrans %}</a></li>
			<li>{{title}}</li>
		</ul>
	</div>
{% endblock %}


{% block form_top %}
	<p>{% blocktrans %}Press the save button below to recover this version of the object.{% endblocktrans %}</p>
{% endblock %}