{% extends "admin/cms/page/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<ul class="breadcrumb">
	        <li>
		        <i class="ace-icon fa fa-home home-icon"></i>
	            <a href="../../../../../">{% trans 'Home' %}</a>
	        </li>
			<li><a href="../../../../">{{app_label|capfirst|escape}}</a> </li>
			<li><a href="../../../">{{opts.verbose_name_plural|capfirst}}</a></li>
			<li><a href="../../">{{original|truncatewords:"18"}}</a></li>
			<li><a href="../">{% trans "History" %}</a></li>
			<li>{% blocktrans with opts.verbose_name as verbose_name %}Revert {{verbose_name}}{% endblocktrans %}</li>
		</ul>
	</div>
{% endblock %}


{% block content %}
	{% with 1 as is_popup %}
		{{block.super}}
	{% endwith %}
{% endblock %}


{% block form_top %}
	<p>{% blocktrans %}Press the save button below to revert to this version of the object.{% endblocktrans %}</p>
	{{ block.super }}
{% endblock %}

