{% for plugin in plugin_list %}
	{% with p_context=plugin.get_plugin_short_context %}
		<li id="plugin_{{ plugin.pk }}" class="{{ plugin.plugin_type }}"
			{% if p_context.delete_warning %}data-deletewarn="{{ p_context.delete_warning }}"{% endif %}>
			<span class="drag"></span>
			<span class="text"><b>{{ plugin.get_plugin_name }}</b>{% if plugin.get_short_description %} [ {{ plugin.get_short_description }} ]{% endif %}</span>
			<span class="delete"></span>
		</li>
	{% endwith %}
{% endfor %}
